@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.font-permament-market {
  font-family: 'Permanent Marker', cursive;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content:center;
}
.justify-between {
  justify-content:space-between;
}

/**
* Padding
*/
.p-20px {
  padding: 20px;
}
.pt-30px {
  padding-top: 30px;
}
.pt-10px {
  padding-top: 10px;
}

/**
* 
*/
.m-auto {
  margin:auto
}
/**
* Width
*/
.w-50 {
  width:50%
}
.m-w-1500px {
  max-width:1500px;
}

/**
* Border
*/
.bordered-default {
  border:1px solid;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}